.accout-container {
    flex-grow: 1;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    .did-login {
        display: flex;
        align-items: center;

        .welcome {
            margin-right: 30px;

            letter-spacing: 1px;
            font-size: 19px;
            color: white;
        }

        .exit {
            padding: 2px 15px;
            margin-right: 20px;
            border-radius: 10px;

            font-size: 16px;

            cursor: pointer;

            &:hover {
                color: yellow;
                background-color: rgb(80, 95, 180);
            }
        }
    }

    .user-login-btn {
        box-sizing: border-box;
        height: 48px;
        width: 48px;
        padding: 9px;
        border-radius: 24px;

        &:hover {
            cursor: pointer;
            background-color: rgb(80, 95, 180);
        }
    }
}