.content-container {
    flex-grow: 1;
    height: 100%;
    background-color: rgb(250, 250, 250);
    padding: 30px 50px 80px 30px;

    .content-main {
        height: 100%;
        width: 100%;
        background-color: white;
        box-shadow: 0 0 9px 3px #999;

        P {
            margin-left: 10px;
            font-size: 22px;
            color: blue;
        }
    }
}